.form-container{
    width: 60% !important;
    margin: auto !important;
    margin-top: 25px !important;
    padding-bottom: 22px !important;
    
}

.form-input{
    margin-bottom: 12px !important;
}

.form-title{
    margin-bottom: 12px;
}